html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
  font-size: 2em;
  margin-bottom: .5em;
}

a:hover {
  color: #405060;
}

* {
  box-sizing: border-box;
}

iframe {
  margin-bottom: 2em;
}